<div class="header p-5 w-full">
  <app-container>
    <div class="w-full flex items-center justify-start">
      <div class="mr-5">
        <img src="/assets/icons/logo.svg" alt="" />
      </div>
      <div class="header--search-bar">
        <input placeholder="Buscar Pokémon" />
        <button>
          <img src="/assets/icons/search.svg" alt="" />
        </button>
      </div>
      <div class="flex items-center ml-5">
        <a href="">Github</a>
      </div>
    </div>
  </app-container>
</div>

